/* CSSy */

/* tło na landing page'u */
.landing {
    background-image: url('../images/landing_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    height:200%;
}

/* kolor tła strony */
.mainpage {
    padding-top: 100px;
}

/* tekst u góry podstron aplikacji */
.lead-text {
    color: white;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.7);
    font-weight: 350;
}

/* gruby tekst, do wykorzystania w Reactcie */
.bold-text {
    font-weight: bold;
}

/* logo aplikacji */
.logo {
    width: 100%;
}

/* jakieś brudne badziewie by działało środkowanie na PC */
@media only screen and (min-width: 768px) {
  .pcpadding {
    padding-top: 120px !important;
  }
}

/* przyciski społecznościowe */
.facebook-btn {
    background: #3b5998 !important;
    color: #FFFFFF !important;
    border-color: #3b5998 !important;
}

.facebook-btn:hover {
    background: #2f4779 !important;
    color: #FFFFFF !important;
    border-color: #2f4779 !important;
}

/* alert bootstrapowy */
#message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index:9999 !important;
}

/* wnętrze alertu bootstrapowego */
#innerMessage {
    margin: 0 auto;
}